<section class="popular-games">
    <div class="popular-games-header">
        <h2 class="section-title">Most Popular Games</h2>
        <button class="view-all-btn">View All</button>
    </div>
    <div class="square-game-grid">
        {{#each games}}
        <div class="square-game-card">
            <a href="/games/{{id}}/details">
                <img src="{{imageUrl}}" alt="{{title}}">
                <div class="square-game-info">
                    <h3>{{title}}</h3>
                </div>
            </a>

        </div>
        {{else}}
        <p class="section-title">There are no games yet...</p>
        {{/each}}
    </div>
</section>

<!-- Categories Section -->
<section class="categories">
    <h2 class="section-title">Browse by Category</h2>
    <div class="category-grid">
        <a href="/games/action">
            <div class="category-card">
                <div class="category-overlay">
                    <h3>Action</h3>
                </div>
            </div>
        </a>
        <a href="/games/adventure">
            <div class="category-card">
                <div class="category-overlay">
                    <h3>Adventure</h3>
                </div>
            </div>
        </a>
        <a href="/games/rpg">
            <div class="category-card">
                <div class="category-overlay">
                    <h3>RPG</h3>
                </div>
            </div>
        </a>
        <a href="/games/fighting">
            <div class="category-card">
                <div class="category-overlay">
                    <h3>Fighting</h3>
                </div>
            </div>
        </a>
        <a href="/games/fps">
            <div class="category-card">
                <div class="category-overlay">
                    <h3>FPS</h3>
                </div>
            </div>
        </a>
        <a href="/games/simulation">
            <div class="category-card">
                <div class="category-overlay">
                    <h3>Simulation</h3>
                </div>
            </div>
        </a>
        <a href="/games/strategy">
            <div class="category-card">
                <div class="category-overlay">
                    <h3>Strategy</h3>
                </div>
            </div>
        </a>
        <a href="/games/horror">
            <div class="category-card">
                <div class="category-overlay">
                    <h3>Horror</h3>
                </div>
            </div>
        </a>
        <a href="/games/sports">
            <div class="category-card">
                <div class="category-overlay">
                    <h3>Sports</h3>
                </div>
            </div>
        </a>
        <a href="/games/racing">
            <div class="category-card">
                <div class="category-overlay">
                    <h3>Racing</h3>
                </div>
            </div>
        </a>
        <a href="/games/tactical">
            <div class="category-card">
                <div class="category-overlay">
                    <h3>Tactical</h3>
                </div>
            </div>
        </a>
        <a href="/games/mmo">
            <div class="category-card">
                <div class="category-overlay">
                    <h3>MMO</h3>
                </div>
            </div>
        </a>
    </div>
</section>