<section class="profile" id="profile">
    <div class="profile-header">
        <div class="profile-pic">
            <img src="{{user.profilePic}}"
                alt="Profile Picture">
        </div>
        <div class="profile-info">
            <h1 class="username">{{user.username}}</h1>
            <p class="user-tagline">“{{user.bio}}”</p>
        </div>
    </div>

    <div class="finished-games" id="games">
        <div class="games-header">
            <h2 class="section-title">Completed Games</h2>
            <button class="view-all-btn">View All</button>
        </div>

        <div class="games-grid">
            {{#each reviews}}
            <div class="game-card-profile">
                <div class="game-header">
                    <h3>Hollow Knight: Silksong</h3>
                    <div class="game-header-right">
                        <span class="game-rating">⭐ 9.2/10</span>
                        <img src="https://assets-prd.ignimgs.com/2025/04/02/nintendoswitch2-hollow-knight-silksong-keyart-square-1743636317910.jpg"
                            alt="Hollow Knight: Silksong" class="game-icon">
                    </div>
                </div>
                <p class="game-review">“An electrifying journey through a world that feels alive. The atmosphere is
                    unmatched.”</p>
            </div>
            {{else}}
            <p class="section-title">You haven't finished any games yet...</p>
            {{/each}}
        </div>
    </div>

    <!-- Profile Actions -->
    <div class="profile-actions">
        <a href="/profile/{{user.id}}/edit"><button class="edit-btn">Edit Profile</button></a>
        <a href="/profile/{{user.id}}/delete"><button class="delete-btn">Delete Profile</button></a>
    </div>
</section>